/* DELETE?--> */
* {
	border: none;
	max-width: 480px;
}
/* <--DELETE */

.iPhone {
	display: inherit;	
}

img {
	max-width: 100%;	
}

html {
	width: 100%;
    margin: 0;
	max-width: 480px;
}

body {
    width: 100%;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    padding: 0px;
}
.body {
    float: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}
#content {
	margin-top: 2px;
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
}
#pstopLogo {
	text-align: center;
}
#pstopLogo img{ 
	width: auto;
	background-color: #dce7fb;
	display: inline;
	padding: 0px;
}

h1 { padding-left: 10px; }
ul { padding: 0px; }
	
#container {
	width: 100%;
	min-height: 400px;
	
}

/* MAIN MENU */
div#mainMenu {
	width: auto;
	margin: 0px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 9px;
	border: 1px solid #eee;
	border-style: solid none solid none;
	border-top: 0px;
	border-bottom: none;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
}

ul#menuList {
	list-style: none;
}

ul#menuList li {
	display: inline;
	border: 0px solid #fff;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#menuList a{
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #888;
	border-bottom: none;
}

#menuList a:hover{
	color: #000;
}

#menuList a.active{
	background-image: none;
	background-color: #DCE7FB;
	padding-bottom: 12px;
	color: #000; 
	border: 1px solid #888;
	border-bottom: none;
    border-radius: 4px 4px 0px 0px;
}

/* NAVIGATION MENU */
.nav {
    background-color: #dce7fb;
    border: 1px solid #888;
    border-style: solid;
    margin: 0px;
	padding-left: 0px;
    padding-bottom: 6px;
    padding-top: 12px;
/*
    margin-top: 60px;
    padding: 15px 12px;
    padding-top: 15px;
    width: 100%;
    font: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
*/
}


div#submenuTireHotelOccurence { /* fikser feil da ett view har annen css */
	margin-top: -1px;	
}

.menuButton {
    font-size: 10px;
	border: none;
	padding: 0px;
    margin: 0px;
}

.menuButton a {
	background: none;
	padding: 8px;
    margin: 0px;
	color: #333;
    border: none;
    font-size: 12px;
    font-weight: normal;
}

.menuButton a.home {
    background: none;
    color: #555;
}

.menuButton a.list {
	background: none;
	padding: 0px;
    margin: 0px;
    color: #555;
}

.menuButton a.customerList {
    color: #555;
	background: none;
	padding: 0px;
    margin: 0px;
}
.menuButton a.tireList {
    color: #555;
    background: none;
    margin: 8px;
}
.menuButton a.create {
    display: none;
}
.menuButton a.createTire {
    display: none;
}
.menuButton a.showTire {
	background: none;
    color: #555;
    padding-left: 0px;
}
.menuButton a.search, .menuButton a.createUser, .menuButton a.createCustomer {
    display: none;
}
.menuButton a.showUser {
	background: none;
    color: #555;
    padding-left: 0px;
}
.menuButton a.showTireHotelOccurrence {
	background: none;
    color: #555;
    padding-left: 0px;
}
.menuButton a.log {
	background: none;
    color: #555;
    padding-left: 0px;
}
.menuButton a.pendingSupplierOrders {
	background: none;
    color: #555;
    padding-left: 0px;
}
.menuButton a.pendingCustomerOrders {
	background: none;
    color: #555;
    padding-left: 0px;
}

#createTireOccurrenceButton, #createTireOccurrenceButton a, #customerShowDialog .customerInfoBox, #showCustomerTitle{
    display: none;
}
span#active a {
	border: 1px solid #888;
	border-bottom: none;
    border-radius: 4px 4px 0px 0px;
	padding: 8px;
	background-color: #fff;
	color: #000;
}

/* MESSAGES AND ERRORS */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select,td.errors input, span.errors input{
    border: 1px solid red;
}


/* TABLES */
table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background-image: none;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* PAGINATION */
.paginateButtons {
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */
#tireDialog {
	/*background-color: #000;*/
	margin-right: 15px;
	float: left;	
}
#fastSearchInListView {
	margin-left: 10px;
}
#fastSearchInListView #btnSearch{
	width: 45px;
	height: 20px;
	margin-bottom: 10px;
}

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}
/* List */ 
.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* ACTION BUTTONS */
.buttons {
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 7px;
}
#tireEditButton{
	padding-top: 5px;
	display: block;	
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.cancel {
    background: transparent url(../images/skin/database_cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.change {
    background: transparent url(../images/skin/season_switch.png) 5px 50% no-repeat;
    padding-left: 28px;
}
input.change {
    background: transparent url(../images/skin/season_switch.png) 5px 50% no-repeat;
	margin: 0px;
    padding-right: 5px;
    border: 0px;
    cursor: pointer;
}
input.delivered {
    background: transparent url(../images/skin/delivered.png) 5px 50% no-repeat;
    margin: 0px;
    padding-right: 5px;
    border: 0px;
    cursor: pointer;
}

#tireEditButtons {
	padding-top: 10px;
	float: left;
	width: 235px;
}

.searchButtons {
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

/******* USER GENERATED *******/

/* LOGIN */
#login {
	margin:0px auto;
	text-align: center;
}

#login #loginButton {
	background: #fff;
	background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    padding: 3px;
    width: 100px;
    cursor: pointer;
    height: 25px;
}
input#loginButton {
	width: 200px;	
}

table.loginForm {
	border: none;
}

form.loginForm {
	border: 1px solid #ccc;
	padding-bottom: 10px;
}

form.loginForm input.text_{
	height: 25px;
}

a.logoutButton{
	display: none;
}
span#iPhoneLogout {
	width: auto;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

span#iPhoneLogout a.logoutButton {
	background: none;
	text-align: center;
	display: inherit;
	float: none;
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
}

/* Tabs */
#submenu ul li em {
	width: 75px; 	
}
#submenu ul li {
	display: block;
	margin: 10px;
}
#tireShowDialog {
	width: 250px;
	float: left;
	margin: 0 10px 0 0;	
}

/* SHOW CUSTOMER */
#customerShowDialog {
	overflow: auto;
	float: left;
	margin: 0 10px 0 0;
	max-width:480px;
}
#customerTireHotelAndOrders {
	float: none;
	position: inherit;
	width: auto;
	max-width:480px;
	margin: 0px;
}
#customerTireHotelAndOrders h3{
	font-size: 12px;
	position: inherit;
	margin: 0px;
	color: #000;
	text-align: center;
}
#customerTireHotelAndOrders h4 {
	font-size: 14px;	
}
div#onlyActiveTireHotelOccurrences {
	border: 1px solid #bbb;
	background-color: #F5F5FF;
	width: auto;
	margin: 0px;
	max-width:480px;
	padding: 5px;
}
#customerTireHotel, #customerOrders {
	max-width:480px;
}
#customerTireHotelOccurrenceSwitchButton, #customerOrdersOccurrenceSwitchButton, .tireHotelButtons,
#customerTireHotelOccurrencelist, #allTireHotelOccurrences, #tireOccurrenceList, #allCustomerOrders, .tireName{
	display: none;
}

#customerOrders {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#customerOrders input{
	display: none
}
div.customerOrderLine {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ccc;
}
div.customerOrderBox, #customerOrders, #activeCustomerOrders {
	width: auto;
}
div.customerOrderLine .tireName {
	display: block;
	padding: 0px;
	margin: 0px;
} 
div.customerOrderLine .numberOfReservedTires {
	display: inline;
	padding: 0px;
	margin: 0px;
	margin-left: 25px;
	font-style: italic;
} 
div.customerOrderLine .tirePrice {
	display: inline;
	padding: 0px;
	margin: 0px;
	font-style: italic;
} 






#showTire {
	width: 100%;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-top: 5px;
	border-top: 1px solid #ccc;
}
#totalTireOccurrence {
	background: #fff;
	background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 5px;
}

#totalTireOccurrence table{
	border: none;
}

.editTableItem {
    background: url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
}

.deleteTableItem {
    background: url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}
.disableTableItem {
    background: url(../images/skin/user_deactivate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.enableTableItem {
    background: url(../images/skin/user_activate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.saveTableItem {
	background: url(../images/skin/database_add.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addOrder {
	background: url(../images/skin/shopping_cart.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addTireHotelOccurrence {
	background: url(../images/skin/database_add_tire_hotel_occurrence.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
}

.notSortableColoumn {
	color:#333333;
	display:block;
	font-size:10px;
	text-decoration:none;
	width: 100%;
	cursor: default;
}

.button a {
	background: url(../images/skin/email.png) 5px 50% no-repeat;
	padding-left: 30px;
	color: #333;
}

a.btnShowAll {
	background: #fff;
	background-image: none;
    border: none;
    color: #666;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    cursor: pointer;
}

.indexContent {
	border: 1px solid #ccc;
	width: auto;
	margin: auto;
	padding: 10px;
}
.indexContent input{
	width: 150px;
}
.indexContent .searchButtons{
	width: 45px;
	height: 22px;
}

#customerTableList, #tireTableList, #userInfoLabel, li#customerOrderMenuItem a,
.paginateButtons, li#supplierOrderMenuItem a, #logout, #adminMenuItem a, #tireHotelTableList {
	display: none;
}

/* SHOW TIREHOTEL */
div.iPhone div.tireHotelOccurrenceInfoBox {
	border: 1px solid #bbb;
	margin: 4px;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #F5F5FF;
	font-size: 14px;
}
div.iPhone span.tireHotelOccurrenceTitle {
	display: block;
}
div.iPhone h3.tireHotelOccurrenceTitle {
	display:inline;
	font-size: 18px;
	font-weight: bold;
	color: #555;
}
div.iPhone span.carInfo {
	display: block;
}
div.iPhone span.tireType {
	display: block;
}
div.iPhone span.inDate {
	display: block;
}
div.iPhone span.notice {
	display: block;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* SHOW TIRE */
div.iPhone div.tireInfoBox {
	border: 1px solid #bbb;
	margin: 4px;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #F5F5FF;
	font-size: 14px;
}
div.iPhone h3.tireBrand {
	display:inline;
	font-size: 18px;
	font-weight: bold;
	color: #555;
}
.tireNumbers {
	padding-top: 5px;	
}
div.iPhone span.tireNumberOfAvailable, div.iPhone span.tireNumberInStock{
	display: block;
}

/* SHOW CUSTOMER */
div.iPhone div.customerInfoBox {
	border: 1px solid #bbb;
	margin: 4px;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #F5F5FF;
	font-size: 14px;
}
div.iPhone h3.customerName a{
	font-size: 18px;
	font-weight: bold;
	color: #555;
}
div.iPhone span.customerAddress {
	display: block;
	margin-top: 0px;
	width: 150px;
}
div.iPhone span.customerPostalCodeAndPlace {
	display: block;
	margin-top: 5px;	
	width: 150px;
}
div.iPhone span.customerCompany {
	display: block;
	margin-top: 5px;
	width: 150px;
}
div.iPhone span.customerPhoneNumber {
	display: inline;
	margin: 0px;
	padding: 0px;
}
div.iPhone span.customerPhoneNumber a{
	background: url(../images/skin/iphone_call.png) 5px 50% no-repeat;;
	color: #555;
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
	margin-left: 10px;
	padding: 0px;
	padding-left: 25px;
	position: inherit;
}
div.iPhone span.customerEmail {
	display: inline;
	margin: 0px;
	padding: 0px;
}
div.iPhone span.customerEmail a{
	background: url(../images/skin/email.png) 5px 50% no-repeat;
	color: #555;
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
	margin-top: 10px;
	margin-left: 15px;
	padding: 0px;
	padding-left: 25px;
	position: inherit;
}
div.iPhone span.customerNotice {
	font-style: italic;
	display: block;
	margin-top: 15px;
	width: 100%;
}
div.iPhone div.customerInfo {
	margin-bottom: 10px;
}

#pendingCustomerOrders, #pendingSupplierOrders {
	display: none;	
}

