html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
* {
	font-family: verdana,arial,helvetica,sans-serif;	
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
#pstopLogo {
	width: auto;
	background-color: #DCE7FB;
	margin: auto;
	border-bottom: 1px solid #888;
}
#pstopLogo img{
	padding-left: 25px;
	border: none;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
    /*width: 300px;*/
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 195px;
	height: 100px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}
	
#content {
	margin-top: 2px;
	margin-left: 0px;
	width: auto;
}
#container {
	width: 1250px;
	min-height: 400px;
	
}

/* MAIN MENU */
div#mainMenu {
	width: auto;
	margin: 0px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 8px;
	border: 1px solid #eee;
	border-top: 0px;
	border-style: solid none solid none;
	border-bottom: none;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
}

ul#menuList {
	list-style: none;
}

ul#menuList li {
	display: inline;
	border: 0px solid #fff;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#menuList a{
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

#menuList a:hover{
	color: #000;
}

#menuList a.active{
	background: #fff url(../images/skin/shadow_blue.jpg) bottom repeat-x;
	color: #333; 
	background-color: #fff;
	border: 1px solid;
	border-color: #888;
	border-bottom: none;
	webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	padding-left: 19px;
	padding-right: 19px;

}

#adminMenuItem {
	float: right;
	margin-right: 15px;
}

/* NAVIGATION MENU */
.nav {
    background-color: #dce7fb;
    border: 1px solid #888;
    border-style: solid;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-top: 0px;
    padding: 15px 12px;
    padding-top: 15px;
    padding-bottom: 7px;
    width: auto;
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
}
div#submenuTireHotelOccurence {
	margin-top: -1px;	
}
.menuButton {
    font-size: 10px;
    padding: 0 5px;
}

.menuButton a {
    color: #333;
    padding: 4px 6px;
    border: 1px solid #dce7fb;
    padding-left: 25px;
}

.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}


.menuButton a.customerList, .menuButton a.userList {
    background: url(../images/skin/user_table.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.tireList {
    background: url(../images/skin/tire_table.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}
.menuButton a.tireHotelOccurrenceList {
    background: url(../images/skin/tireHotelOccurrence_table.png) center left no-repeat;
    color: #555;
    padding-left: 30px;
    background-position: 2px;
}
.menuButton a.createTireHotelOccurrence {
    background: url(../images/skin/tireHotelOccurrence_create.png) center left no-repeat;
    color: #555;
    padding-left: 30px;
    background-position: 2px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.createTire {
    background: url(../images/skin/database_add_tire.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
	background-position: 2px;
}

.menuButton a.showTire {
    background: url(../images/skin/tire.png) center left no-repeat;
    color: #555;
    padding-left: 20px;
	background-position: 2px;
}

.menuButton a.search {
    background: url(../images/skin/search.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.createUser {
    background: url(../images/skin/user_add.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
	background-position: 2px;
}

.menuButton a.showUser {
    background: url(../images/skin/user.png) center left no-repeat;
    color: #555;
    padding-left: 20px;
    background-position: 2px;
}
.menuButton a.showTireHotelOccurrence {
    background: url(../images/skin/tireHotelOccurrence.png) center left no-repeat;
    color: #555;
    padding-left: 20px;
    background-position: 2px;
}
.menuButton a.log {
    background: url(../images/skin/log.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.createCustomer {
    background: url(../images/skin/user_add.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
	background-position: 2px;
}

.menuButton a.pendingSupplierOrders {
    background: url(../images/skin/pendingSupplierOrders.png) center left no-repeat;
    color: #555;
    padding-left: 35px;
    background-position: 2px;
}

.menuButton a.pendingCustomerOrders {
    background: url(../images/skin/pendingCustomerOrders.png) center left no-repeat;
    color: #555;
    padding-left: 35px;
    background-position: 2px;
}

.menuButton a:hover{
	color: #000;	
}

#createTireOccurrenceButton {
	padding-top: 51px;
}

#createTireOccurrenceButton a{
    color: #333;
    padding-left: 30px;
    border: none;
}

span#active a {
	border: 1px solid #888;
	border-bottom: none;
	webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	padding-bottom: 8px;
	padding-top: 8px;
	background-position: 2px;
	background-color: #fff;
	color: #000;
}

/* MESSAGES AND ERRORS */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select,td.errors input, span.errors input{
    border: 1px solid red;
}


/* TABLES */
table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background-color: #F5F5FF;
}
.even {
    background: #fff;
}

/* PAGINATION */
.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */
#tireDialog {
	/*background-color: #000;*/
	margin-right: 15px;
	float: left;	
}

#fastSearchInListView #btnSearch{
	width: 35px;
	height: 20px;
	margin-bottom: 10px;
}

/* KAN SLETTES??
.searchButtons #showAllButton{
	width: 35px;
	height: 40px;
	margin: 2px 0 2px 0;
	color: #333
}
*/

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}
/* List */ 
.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* ACTION BUTTONS */
.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 7px;
}
#tireEditButton{
	padding-top: 5px;
	display: block;	
}

a.cancel {
	background: transparent url(../images/skin/cancel.png) 5px 50% no-repeat;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/delete.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.cancel {
    background: transparent url(../images/skin/cancel.png) 5px 50% no-repeat;
    padding-left: 25px;
}
#cancelModalBox {
    background: transparent url(../images/skin/cancel.png) 5px 50% no-repeat;
    padding: 2px;
    padding-left: 25px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.saveTire {
    background: transparent url(../images/skin/tire_save.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.editTire {
    background: transparent url(../images/skin/tire_edit.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.saveUser,.buttons input.saveCustomer {
    background: transparent url(../images/skin/user_save.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.editUser, .buttons input.editCustomer {
    background: transparent url(../images/skin/user_edit.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.sendSmsToCustomer{
	background: transparent url(../images/skin/phone.png) 5px 50% no-repeat;
	padding-left: 25px;
}

.buttons input.editTireHotelOccurrence {
    background: transparent url(../images/skin/tireHotelOccurrence_edit.png) 5px 50% no-repeat;
    padding-left: 30px;
}
.buttons input.saveTireHotelOccurrence {
    background: transparent url(../images/skin/tireHotelOccurrence_save.png) 5px 50% no-repeat;
    padding-left: 30px;
}
    
.buttons input.change {
    background: transparent url(../images/skin/season_switch.png) 5px 50% no-repeat;
    padding: 0px;
    padding-left: 25px;
}
input.change {
    background: transparent url(../images/skin/season_switch.png) 5px 50% no-repeat;
	margin: 0px;
    padding-right: 5px;
    border: 0px;
    cursor: pointer;
}
input.delivered {
    background: transparent url(../images/skin/delivered.png) 5px 50% no-repeat;
    margin: 0px;
    padding-right: 5px;
    border: 0px;
    cursor: pointer;
}
#tireEditButtons {
	padding-top: 10px;
	float: left;
	width: 395px;
}
.searchButtons {
    background: url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

/******* USER GENERATED *******/

/* create.gsp */
#txtConstruction {
	color: #000;
}

/* LOGIN */
#login {
	width:260px;
	margin:0px auto;
	text-align: center;
}

#login .login {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    padding: 3px;
    cursor: pointer;
    height: 20px;
}
table.loginForm {
	border: none;
}

form.loginForm {
	border: 1px solid #ccc;
	padding-bottom: 10px;
}
a.logoutButton{
	background: url(../images/skin/logout.png) center left no-repeat;
	float: right;
	margin-right: 10px;	
	color: #555;
    padding-left: 25px;
	background-position: 2px;
}

#userInfoLabel {
	float: right;
	margin-top: 42px;
	margin-right: 10px;
	color: #555555;
	font-weight: bold;
	font-size: 10px;
}

/* Tabs */
#submenu ul li em {
	width: 75px; 	
}
#submenu ul li {
	display: block;
	margin: 10px;
}

#tireShowDialog {
	width: 410px;
	float: left;
	margin: 0 10px 0 0;	
}

.tireCreateDialog {
	width: 350px;
 	margin-top: 10px;
}

.tireCreateDialog table {
	padding-top: 5px;
	padding-bottom: 5px;
}

#tireOccurrenceList {
 	width: 800px;
 	float: left;
 	margin-bottom: 5px;
}

#supplierOrderLineList table#tireOccurrences {
	width: 700px;
}

#showTire {
	width: 800px;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-top: 5px;
	border-top: 1px solid #ccc;
}

#totalTireOccurrence {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 5px;
}

#totalTireOccurrence table{
	border: none;
}

.editTableItem {
    background: url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}
.editTireTableItem {
    background: url(../images/skin/tire_edit.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}
.editCustomerTableItem {
    background: url(../images/skin/user_edit.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}
.editTireHotelOccurrenceTableItem {
    background: url(../images/skin/tireHotelOccurrence_edit.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.deleteTableItem {
    background: url(../images/skin/delete.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}
.disableTableItem {
    background: url(../images/skin/user_deactivate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.enableTableItem {
    background: url(../images/skin/user_activate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.disableTireItem {
    background: url(../images/skin/tire_deactivate.png) 5px 50% no-repeat;
    padding: 0px;
    margin: 0px;
    padding-right: 15px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.enableTireItem {
    background: url(../images/skin/tire_activate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

#enableTireItemFromCustomerView {
    background: url(../images/skin/tire_activate.png) 5px 50% no-repeat;
    padding-left: 27px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    margin-left: 3px;
    border: none;
    cursor: pointer;
}

#disableTireItemFromCustomerView {
    background: url(../images/skin/tire_deactivate.png) 5px 50% no-repeat;
    padding-left: 27px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    margin-left: 3px;
    border: none;
    cursor: pointer;
}

.saveTableItem {
	background: url(../images/skin/database_add.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addOrder {
	background: url(../images/skin/shopping_cart.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}
.createOrder {
	background: url(../images/skin/shopping_cart.png) 5px no-repeat;
    padding: 0px;
    padding-left: 25px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    color: #000;
}

.addTireHotelOccurrence {
	background: url(../images/skin/tireHotelOccurrence_create.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
}

.notSortableColoumn {
	color:#333333;
	display:block;
	font-size:10px;
	text-decoration:none;
	width:100%;
	cursor: default;
}

.button a {
	/* Den under skal ikke være her*/
	/*background: url(../images/skin/email.png) 5px 50% no-repeat;*/
	padding-left: 30px;
	color: #333;
}

a.btnShowAll {
    border: none;
    color: #666;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    cursor: pointer;
    text-decoration: underline;
}

a.btnShowAll:hover{
	text-decoration: none;
}

/* SHOW TIRE HOTEL OCCURRENCE */
#tireHotelOccurrenceShowDialog {
	width: 350px;
	overflow: auto;
	float: left;
	margin: 0 10px 0 0;	
}
div.tireHotelOccurrenceInfoBox {
	border: 1px solid #bbb;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #F5F5FF;
}
span.tireHotelOccurrenceTitle {
	display: block;
}
span.tireHotelOccurrenceTitle a{
	text-decoration: underline;
	font-weight: normal;
	color: #000;
}
h3.tireHotelOccurrenceTitle {
	display:inline;
	font-weight: bold;
	color: #000;
}
span.carInfo {
	display: block;
}
span.tireType {
	display: block;
}
span.inDate {
	display: block;
}
span.notice {
	display: block;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* SHOW CUSTOMER */
#customerShowDialog {
	width: 350px;
	overflow: auto;
	float: left;
	margin: 0 10px 0 0;	
}
div.customerInfoBox {
	border: 1px solid #bbb;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #F5F5FF;
}

span.customerAddress {
	display: block;
	margin-top: 15px;
}
span.customerPostalCodeAndPlace {
	display: block;
	margin-top: 5px;	
}
span.customerCompany {
	display: block;
	margin-top: 5px;
}
span.customerPhoneNumber {
	display: block;
	margin-top: 15px;
}
span.customerPhoneNumber a{
	background: url(../images/skin/phone.png) 5px 50% no-repeat;
	color: #555;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 25px;
	margin-left: 225px;
	position: absolute;
}

span.customerEmail {
	display: block;
	margin-top: 5px;
	padding-top: 5px;
}
span.customerEmail a{
	background: url(../images/skin/email.png) 5px 50% no-repeat;
	padding-left: 25px;
	color: #555;
	font-weight: normal;
	margin-left: 225px;
	position: absolute;
}
span.customerNotice {
	font-style: italic;
	display: block;
	margin-top: 15px;
	width: 100%;
}

/* SHOW CUSTOMER TIRE HOTEL AND ORDERS */ 
#customerTireHotelAndOrders {
	float: right;
	max-width: 1000px;
	width: 800px;
	margin-top: -23px;
}
#customerTireHotel {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.customerTireHotelOccurrencelist {
	margin-bottom: 10px;
	width: 100%;
}
#customerTireHotelOccurrenceSwitchButton a, #customerOrdersOccurrenceSwitchButton a{
	float: right;
	margin-top: -20px;
	font-weight: normal;
	text-decoration: underline;
}
#customerTireHotelAndOrders h3{
	font-size: 15px;
	margin-left: 10px;
	font-weight: normal;
	color: #48802c;
}

div#onlyActiveTireHotelOccurrences {
	border: 1px solid #bbb;
	background-color: #F5F5FF;
	width: 450px;
	padding: 5px;
	margin-bottom: 15px;
}
#customerOrders {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.customerOrderBox {
	border: 1px solid #bbb;
	background-color: #F5F5FF;
	width: 450px;
	padding: 5px;
	margin-bottom: 15px;
}
.customerOrderBox h5 {
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
	padding: 0px;
	padding-bottom: 5px;
	margin: 0px;
}
div.customerOrderLine {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ccc;
}
div.customerOrderLine .tireName {
	display: block;
	padding: 0px;
	margin: 0px;
} 
div.customerOrderLine .numberOfReservedTires {
	display: inline;
	padding: 0px;
	margin: 0px;
	margin-left: 25px;
	font-style: italic;
} 
div.customerOrderLine .tirePrice {
	display: inline;
	padding: 0px;
	margin: 0px;
	font-style: italic;
} 

div.tireInfo {
	float: left;
}
div.tireHotelButtons {
	float: right;
}
div.tireHotelButtons input {
	padding-left: 25px;	
}

#activeTireHotelOccurrences {
	display: inherit;
}
div#allTireHotelOccurrences {
	display: none;
}

div#allCustomerOrders {
	display: none;
}

input.deliverOrder   {
	background:url("../images/skin/tireReceived.png") no-repeat scroll 5px 50% transparent;
	color:#555555;
	float:right;
	font-weight:normal;
	margin-top: 0;
	margin-right:10px;
	padding-left:25px;
	border: none;
	cursor: pointer;
}

/* CUSTOMER ORDER */
#customerAndNotice {
	margin-bottom: 10px;
}
#customerOrderDialog {
	float: left;
	width: 1000px;
}
#customerOrderLines {
	margin-bottom: 10px;
}

input.orderTableTextField {
	width: 50px;
}
#customerOrderPriceHeader {
	width: 80px;	
}

#customerOrderDeleteHeader {
	width: 10px;
}
#customerButtons{
	padding: 3px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.addToOrderTableItem {
    background: url(../images/skin/addTireToOrder.png) 5px 50% no-repeat;
    padding-right: 15px;
    padding-top: 5px;
    border: none;
    cursor: pointer;
}
.deleteFromOrderTableItem {
    background: url(../images/skin/removeTireFromOrder.png) 5px 50% no-repeat;
    padding-right: 15px;
    padding-top: 8px;
    border: none;
    cursor: pointer;
    color: #bbb;
}
.showCustomerButtons {
	display: inline;
}

.editTireHotelOccurrenceButton .editTireHotelOccurrence{
	border: none;
	background: url(../images/skin/tireHotelOccurrence_edit.png) 5px 50% no-repeat;
    padding-bottom: 5px;
    padding-left: 28px;
	font-weight: normal;
	color: #000;
	cursor: pointer;
}
/* SUPPLIER ORDER */
#supplierOrderDialog {
	width: 700px;
	float: left;
}

#supplierInfoAndNotice {
	margin-bottom: 10px;
}

#supplierOrderLines {
	margin-bottom: 10px;
}
#supplierOrderedItems {
	margin-top: 10px;
}

#deleteFromOrder {
	color: #FFF;
	//display: none;	
}

.supplierOrderHeaders {
	width: 40px;
}

#numberOfReceivedTextField {
	width: 50px;
}

input.receiveSupplierOrder {
	background: url(../images/skin/tireReceived.png) 5px 50% no-repeat;
    margin: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 28px;
    border: 0px;
    cursor: pointer;
}


/* SHOW TIRE */
#tireInfo {
	float: left;
	margin-right: 10px;	
}
div.tireInfoBoxNew {
	width: 350px;
	border: 1px solid #bbb;
	margin-bottom: 10px;
	background-color: #F5F5FF;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px; 
	padding-left: 5px;
}

div.tireInfoBoxNew table {
	padding: 0px;
	margin: 0px;
	border: none;
}

div.tireNumberInStockInfoBox {
	width: 350px;
	border: 1px solid #bbb;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #F5F5FF;
	padding-bottom: 15px;
	padding-left: 10px;
}

span.tireWidth {
	display: block;
	margin-top: 15px;
}

h3.tireBrandHeader {
	display: inline;	
}
span.tireSeason {
	margin-top: 5px;
	display: block;
}

span.tirePrice {
	margin-top: 5px;
	display: block;
	margin-bottom: 5px;
}

span.tireNotice {
	font-style: italic;
	display: block;
	margin-top: 10px;
	width: 100%;
}

.tireInStockLabels {
	font-size: 12px;
	font-style: italic;	
	display: inline;
	font-weight: normal;
}

.tireInStockNumbers {
	font-size: 12px;
	display: inline;
	font-weight: bold;
}

span.tireLabelsInStockAndReserved {
	display:block;
	margin-top:10px;
	margin-bottom: 0px;
}

span.reserved {
	float: right;
	margin-right: 110px;
}

span.available {
	float: right;
	margin-right: 105px;
}

span.tireNewOrder a  {
	background:url("../images/skin/email.png") no-repeat scroll 5px 50% transparent;
	color:#555555;
	float:right;
	font-weight:normal;
	margin-right:10px;
	padding-left:25px;
}

#createSupplierOrderButton {
	padding: 0px;	
	margin-left: 0px;
}

#createSupplierOrderButton a{
		background: transparent url(../images/skin/shopping_cart.png) 0px 50% no-repeat;
    color: #333;
    padding-left: 25px;
    border: none;
}

.showTireButtons {
	display: inline;
}

.buttons .disableTireItem {
    background: url(../images/skin/tire_deactivate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    padding-top: 8px;
    padding-left: 25px;
    margin: 0px;
    margin-left: 4px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.buttons #enableTireItem a{
    background: url(../images/skin/tire_activate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-top: 8px;
    padding-right: 15px;
    padding-left: 25px;
    margin: 0px;
    margin-left: 4px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

span.buttons {
	width: 20px;	
}

#tireButtons{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 1px;
}

#supplierOrderLineList {
	float: left;	
}

.iPhone {
	display: none;
}

/* ERROR-PAGES */
div#errorContainer {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}
div#errorContainer h1{
	font-size: 30px;
	text-align: center;
	width: auto;	
}
div#errorMessage {
	float: left;
	font-size: 20px;
	width: 350px;
	text-align: center;
}
div#errorMessage p{
	margin-top: 30px;
}
div#errorMessage p a {
	font-weight: normal;
	text-decoration: underline;
	color: #000;
}
img#errorImage {
	float: right;
	margin-top: 10px;
}

div#userLogTable {
	float: left;
	width: 700px;
	padding-left: 10px;
}

.indexContent {
	border: 1px solid #ccc;
	width: 350px;
	margin: auto;
	margin-top: 20px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.indexContent input{
	width: 270px;
}
.indexContent .searchButtons{
	width: 35px;
	height: 22px;
}