/* DELETE?--> */
* {
	border: none;
	max-width: 480px;
}
/* <--DELETE */

.iPhone {
	display: inherit;	
}

img {
	max-width: 100%;	
}

html {
	width: 100%;
    margin: 0;
	max-width: 480px;
}

body {
    width: 100%;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    padding: 0px;
}
#pstopLogo img{ 
	width: auto;  /* standard: 340 */
	max-width: 340px;
	background-color: #dce7fb;
	display: inline;
}

ul {
    padding: 0px;
}
/*** <-- iPhone ready ***/
/* NOT NEEDED
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 195px;
	height: 100px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

*/
.body {
    float: none;
    margin: 0px;
}
	
#content {
	margin-top: 2px;
	margin-left: 0px;
	padding-left: 8px;
	width: 100%;
}
#container {
	width: 100%;
	min-height: 400px;
	
}

/* MAIN MENU */
div#mainMenu {
	border: none;
	width: auto;
	margin: 0px;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 9px;
	border: 1px solid #eee;
	border-style: solid none solid none;
	border-bottom: none;
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
}

ul#menuList {
	list-style: none;
}

ul#menuList li {
	display: inline;
	border: 0px solid #fff;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#menuList a{
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 5px;
	padding-right: 5px;
}

#menuList a:hover{
	color: #000;
}

#menuList a.active{
	background-image: none;
	background-color: #333;
	color: #fff; 
	border: none;
	border-bottom: none;
    border-radius: 4px 4px 0px 0px;
	padding-left: 5px;
	padding-right: 5px;

}

li#customerOrderMenuItem a, li#supplierOrderMenuItem a{
	display: none;
}

/* NAVIGATION MENU */
.nav {
	width: 90%;
    background-color: #dce7fb;
    border: 1px solid #888;
    border-style: solid;
    margin: 0px;
    padding-bottom: 6px;
    padding-top: 9px;
/*
    margin-top: 60px;
    padding: 15px 12px;
    padding-top: 15px;
    width: 100%;
    font: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
*/
}


div#submenuTireHotelOccurence { /* fikser feil da ett view har annen css */
	margin-top: -1px;	
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
	border: none;
}

.menuButton a {
    color: #333;
    padding: 4px 6px;
    padding-left: 25px;
    border: none;
    font-size: 10px;
    font-weight: normal;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.createTire {
    background: url(../images/skin/database_add_tire.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
	background-position: 2px;
}

.menuButton a.search {
    background: url(../images/skin/search.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    background-position: 2px;
}

.menuButton a.createUser {
    background: url(../images/skin/user_add.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
	background-position: 2px;
}

.backButton a.back {
    background: url(../images/skin/back.png) center left no-repeat;
    color: #555;
    padding-left: 25px;
    margin-left: 0px;
    margin-top: 15px;
    border: none;
    position:  absolute;
    font-size: 10px;
}

#createTireOccurrenceButton {
	padding-top: 51px;
}

#createTireOccurrenceButton a{
    color: #333;
    padding-left: 30px;
    border: none;
}

span#active a {
	border: 1px solid #888;
	border-bottom: none;
    border-radius: 4px 4px 0px 0px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 25px;
	background-position: 2px;
	background-color: #fff;
	color: #000;
}

/* MESSAGES AND ERRORS */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select,td.errors input, span.errors input{
    border: 1px solid red;
}


/* TABLES */
table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background-image: none;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* PAGINATION */
.paginateButtons {
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */
#tireDialog {
	/*background-color: #000;*/
	margin-right: 15px;
	float: left;	
}

#fastSearchInListView #btnSearch{
	width: 35px;
	height: 20px;
	margin-bottom: 10px;
}

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}
/* List */ 
.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* ACTION BUTTONS */
.buttons {
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 7px;
}
#tireEditButton{
	padding-top: 5px;
	display: block;	
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.cancel {
    background: transparent url(../images/skin/database_cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.change {
    background: transparent url(../images/skin/season_switch.png) 5px 50% no-repeat;
    padding-left: 28px;
}
input.change {
    background: transparent url(../images/skin/season_switch.png) 5px 50% no-repeat;
	margin: 0px;
    padding-right: 5px;
    border: 0px;
    cursor: pointer;
}
input.delivered {
    background: transparent url(../images/skin/delivered.png) 5px 50% no-repeat;
    margin: 0px;
    padding-right: 5px;
    border: 0px;
    cursor: pointer;
}

#tireEditButtons {
	padding-top: 10px;
	float: left;
	width: 235px;
}

.searchButtons {
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

/******* USER GENERATED *******/

/* create.gsp */
#txtConstruction {
	color: #000;
}

/* LOGIN */
#login {
	margin:0px auto;
	text-align: center;
}

#login .login {
	background: #fff;
	background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    padding: 3px;
    cursor: pointer;
    height: 20px;
}
a.logoutButton{
	background: url(../images/skin/logout.png) center left no-repeat;
	float: right;
	margin-right: 10px;	
	color: #555;
    padding-left: 25px;
	background-position: 2px;
	display: none;
}

/* Tabs */
#submenu ul li em {
	width: 75px; 	
}
#submenu ul li {
	display: block;
	margin: 10px;
}

#tireShowDialog {
	width: 250px;
	float: left;
	margin: 0 10px 0 0;	
}

/* SHOW CUSTOMER */
#customerShowDialog {
	width: 350px;
	overflow: auto;
	float: left;
	margin: 0 10px 0 0;	
}
#customerTireHotelAndOrders {
	float: right;
	
	max-width: 1000px;
}

#customerTireHotelOccurrencelist {
	margin-bottom: 20px;
	width: 100%;
}

#tireOccurrenceList {
 	width: 100%;
 	float: left;
 	margin-bottom: 5px;
}

#tireOccurrenceList table#tireOccurrences {
	width: 100%;
}

#showTire {
	width: 100%;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-top: 5px;
	border-top: 1px solid #ccc;
}

#totalTireOccurrence {
	background: #fff;
	background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 5px;
}

#totalTireOccurrence table{
	border: none;
}

.editTableItem {
    background: url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
}

.deleteTableItem {
    background: url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}
.disableTableItem {
    background: url(../images/skin/user_deactivate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.enableTableItem {
    background: url(../images/skin/user_activate.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.saveTableItem {
	background: url(../images/skin/database_add.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addOrder {
	background: url(../images/skin/shopping_cart.png) 5px 50% no-repeat;
    padding: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.addTireHotelOccurrence {
	background: url(../images/skin/database_add_tire_hotel_occurrence.png) 5px 50% no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
}

.notSortableColoumn {
	color:#333333;
	display:block;
	font-size:10px;
	text-decoration:none;
	width: 100%;
	cursor: default;
}

.button a {
	background: url(../images/skin/email.png) 5px 50% no-repeat;
	padding-left: 30px;
	color: #333;
}

a.btnShowAll {
	background: #fff;
	background-image: none;
    border: 1px solid #ccc;
    color: #666;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    cursor: pointer;
}

#customerTableList {
	display: none;
}